.ibakuman-tabs {
    transition: 0.3s box-shadow ease;
    border-radius: $ibakuman-tabs-radius;
    max-width: 100%;
    background: $ibakuman-tabs-background;
    margin: 2.5rem 0;
    // dark mode
    [data-scheme="dark"] & {
        background: $ibakuman-tabs-background-dark;
    }

    // flex layout config
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    list-style: none;

    // 默认 tab 的内容样式。
    &__content {
        background: $ibakuman-tabs-background;
        // dark mode
        [data-scheme="dark"] & {
            background: $ibakuman-tabs-background-dark;
        }

        padding: 1rem 2.5rem;
        order: 999; // Move content blocks to the end
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0;
        left: 0;
        transform: translateY(-3px);
        border-radius: 0 0 $ibakuman-tabs-radius $ibakuman-tabs-radius;
        .highlight {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            // 清除 ibakuman-tabs__content 的 padding
            margin: -1rem -2.5rem;
        }
    }

    // tabs 展开时的相关样式
    &.open {
        // 设置展开时当前被选中 tab 的内容的样式
        .ibakuman-tabs__input {
            @for $i from 1 through $ibakuman-tabs-max-tab-count {
                &:checked:nth-of-type(#{$i}) + label + .ibakuman-tabs__content {
                    opacity: 1;
                    position: relative;
                    transition: 0.5s opacity ease-in, 0.8s transform ease;
                    top: 0;
                    z-index: 100;
                    transform: translateY(0);
                    text-shadow: 0 0 0;
                }
            }

            // 压展开状态下取消第一个 tab 左下角的圆角。
            &:first-of-type + label {
                border-bottom-left-radius: 0;
            }
        }

        .ibakuman-toolbar {
            &__toggle-open {
                .arrow {
                    @include transform(rotate(-90deg));
                }
            }

            &__ellipses {
                display: none;
            }

            &__copy {
                display: inline;
            }
        }
    }

    &__input {
        // 隐藏 radio 按钮
        display: none;

        // 收起状态时显示第一个 tab 左下角的圆角。
        &:first-of-type + label {
            border-bottom-left-radius: $ibakuman-tabs-radius;
        }

        // 当 tab > 1 时：去除第一个 tab 右边的圆角。
        &:first-of-type:not(:last-of-type) + label {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        // 当 tab > 1 时：去除第一个和最后一个 tab 之外的所有 tab 的圆角去掉。
        &:not(:first-of-type):not(:last-of-type) + label {
            border-radius: 0;
        }

        // 当 tab > 1 时： 去掉最后一个 tab 左边的圆角。
        &:last-of-type:not(:first-of-type) + label {
            border-radius: 0;
        }

        // 当前被选中的 tab 的样式
        &:checked + label {
            background: $ibakuman-tabs-background;

            [data-scheme="dark"] & {
                background: $ibakuman-tabs-background-dark;
            }

            cursor: default;
            &:last-of-type {
                border-right: 2px solid darken($card-background-dark, 5%);
            }
        }

        // 默认 tab 标签样式
        + label {
            border-radius: $ibakuman-tabs-radius $ibakuman-tabs-radius 0 0;
            cursor: pointer;
            display: block;
            text-decoration: none;
            font-weight: bold;
            width: 100px;
            text-align: center;
            background-color: darken($card-background-dark, 5%);
            user-select: none;
            transition: 0.3s background-color ease, 0.3s box-shadow ease;
            padding: 1rem 0;

            &:hover {
                // background-color: #f9f9f9;
                box-shadow: 0 0 4px $ibakuman-tabs-background inset;
                [data-scheme="dark"] & {
                    box-shadow: 0 0 4px 0 $ibakuman-tabs-background-dark inset;
                }
            }
        }
    }
}
