/*===================================ShortCode Variables===================================*/
/*-------------------------------------tabs variables--------------------------------------*/
$ibakuman-tabs-max-tab-count: 5 !default;
$ibakuman-tabs-radius: 6px !default;
// $ibakuman-tabs-background-dark: #4f6164 !default;
$ibakuman-tabs-background-dark: #282a36 !default;
$ibakuman-tabs-background: #424242 !default;
/*------------------------------------tabs variables end-----------------------------------*/
/*=================================ShortCode Variables End=================================*/
