{{- /* ID */ -}}
{{- $count := (.Scratch.Get "this").count | default 1 -}}
{{- $id := printf "id-%d" $count -}}
{{- $count | add 1 | .Scratch.SetInMap "this" "count" -}}
{{- $type := .Type -}}
{{- with .Content -}}
    {{- if $type -}}
        {{- dict $id . | dict "data" | dict $type | dict "config" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
    {{- else -}}
        {{- dict $id . | dict "data" | dict "config" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
    {{- end -}}
{{- end -}}
{{- return $id -}}
