.table-wrapper {
    overflow-x: auto;
    display: block;
}

.highlight {
    background-color: var(--pre-background-color);

    // TODO: 设置圆角
    border-radius: $ibakuman-tabs-radius;
    overflow: hidden;
    position: relative;

    > .chroma {

        padding: 1rem 0;

        .table-wrapper {
            max-height: 0;
            overflow-y: hidden;
            @include details-transition-open;
        }

        .ibakuman-toolbar {
            // 默认语言
            &::before {
                padding-left: 1rem;
                content: "Code";
                font-weight: bold;
            }

            @each $type, $text in $code-type-list {
                &.#{$type}::before {
                    content: $text;
                }
            }
        }

        // 展开时的样式
        &.open {
            .table-wrapper {
                max-height: 10000px;
                @include details-transition-close;
            }

            .ibakuman-toolbar {
                &__toggle-open {
                    .arrow {
                        @include transform(rotate(-90deg));
                    }
                }

                &__ellipses {
                    display: none;
                }

                &__copy {
                    display: inline;
                }
            }
        }

        // 代码块的代码序号部分的部分 HTML 结构如下
        //<td class="lntd">
        //    <pre tabindex="0" class="chroma"><code>
        //        <span class="lnt">1</span>
        //        <span class="lnt">2</span>
        //        <span class="lnt">3</span>
        //        <span class="lnt">4</span>
        //        <span class="lnt">5</span>
        //        </code>
        //    </pre>
        //</td>

        // 代码块序号列的样式
        .lntd:first-child {
            min-width: 1.6rem;
            text-align: right;
        }

        // 代码块的样式
        .lntd:last-child {
            width: 100%;

            pre {
                @include max-content(min-width);
            }
        }

        .ln {
            padding-right: 0.75rem;
        }

        .hl {
            display: block;
            [data-scheme="dark"] & {
            }
        }

        .ln,
        .lnt {
            [data-scheme="dark"] & {
            }
        }
    }

    [dir="rtl"] & {
        direction: ltr;
    }
    pre {
        padding: 0;
        margin: 0;
        width: auto;
    }
}